datasets/
code/MultiModal-DeepFake-main/bert-base-uncased
code/MultiModal-DeepFake-main/ALBEF_4M.pth
code/MultiModal-DeepFake-main/nohup.out
code/MultiModal-DeepFake-main/results
code/MultiModal-DeepFake-main/pic_ours
code/MultiModal-DeepFake-main/pic_baseline
code/MultiModal-DeepFake-main/pic_consist
code/MultiModal-DeepFake-main/datasets.zip
code/MultiModal-DeepFake-main/deit_base_patch16_224-b5f2ef4d.pth
code/MultiModal-DeepFake-main/__pycache__/*.pyc
code/MultiModal-DeepFake-main/dataset/__pycache__/*.pyc
code/MultiModal-DeepFake-main/models/__pycache__/*.pyc
code/MultiModal-DeepFake-main/optim/__pycache__/*.pyc
code/MultiModal-DeepFake-main/scheduler/__pycache__/*.pyc
code/MultiModal-DeepFake-main/tools/__pycache__/*.pyc
nohup.out
dataset.zip
code/MultiModal-DeepFake-main/meter_clip16_224_roberta_pretrain.ckpt
code/MultiModal-DeepFake-main/roberta-base/
code/MultiModal-DeepFake-main/ViT-B-16.pt
code/MultiModal-DeepFake-main/pic_prnu